@media screen and (min-width: 1024px) {
  .main---pattern1 img {
    width: 800px;
    top: -500px;
    right: 800px;
  }
  .main---pattern2 img {
    width: 800px;
    left: 800px;
  }
  .main-card {
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 155px);
    width: 310px;
    height: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .main---pattern1 img {
    width: 800px;
    top: -500px;
    right: 900px;
  }
  .main---pattern2 img {
    width: 800px;
    left: 900px;
  }
  .main-card {
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - 165px);
    width: 330px;
    height: 360px;
  }
}
